@{
    ViewBag.Title = "DanhMucSanPham";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<main>
    <div class="container">
        <div class="row p-3 bg-breadcrumb">
            <div class="flex-row">
                <a class="breadcrumb-link text-decoration-none text-white" href="/Home/Index">Trang chủ </a><i class="fa-solid fa-angle-right text-white"></i>
                <label class="text-white text-disabled">Tất cả sản phẩm</label>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-3 my-3">
                <div class="sidebar">
                    <h5 class="text-white">Danh mục sản phẩm</h5>
                    <div class="form-check text-white">
                        @*--Foreach Lay ten danh muc san pham--*@
                        <input class="form-check-input" type="checkbox" id="dm1">
                        <label class="form-check-label text-white-50" for="dm1">Găng Tay Thủ Môn</label>
                    </div>
                </div>

                <div class="sidebar my-4">
                    <h5 class="text-white">Dòng giày phổ biến</h5>
                    <div class="form-check text-white">
                        @*--Foreach Lay ten danh muc san pham pho bien--*@
                        <input class="form-check-input" type="checkbox" id="dm1">
                        <label class="form-check-label text-white-50" for="dm1">Adidas copa</label>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row my-3">
                    <div class="filter-box d-flex gap-3 mb-3">
                        <button class="filter-btn flex-fill">Hãng</button>
                        <button class="filter-btn flex-fill">Giá</button>
                        <button class="filter-btn flex-fill">Màu Chủ Đạo</button>
                        <button class="filter-btn flex-fill">Loại Đinh/Mặt Sân</button>
                        <button class="filter-btn flex-fill">Size</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="card border-1">
                            <img class="card-img" src="~/Content/Images/banner1.jpg" />
                            <div class="card-body">
                                <p>Adidas Copa Pure III League TF màu trắng hồng JR2853</p>
                                <p class="text-danger">2.100.000 ₫</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<style>
    .bg-breadcrumb {
        background: #232323;
    }
    .text-disabled {
        opacity: 0.3;
    }
    .form-check-input{
        background: none;
        border-color: #808080;
    }

    .form-check-label:hover {
        color: #dcdcdc !important;
    } 



    .breadcrumb-link:hover {
        text-decoration: underline !important;
        color: aqua !important;
    }
    .sidebar {
        background-color: #1c1c1c;
        border-radius: 8px;
        padding: 20px;
    }
    .sidebar h5{
        padding: 20px 16px;
    }

    .filter-box {
        background-color: #1c1c1c;
        border-radius: 8px;
        padding: 10px 15px;
        color: #fff;
    }

    .filter-btn {
        background-color: #222;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        color: #bbb;
        font-weight: 500;
        transition: all 0.2s;
    }

    .filter-btn:hover {
        transform: scale(1.1);
    }   

    .product-card {
        background-color: #141414;
        border: 1px solid #222;
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.3s ease;
        height: 100%;
    }
</style>