# Thư mục cấu hình của Visual Studio (gây ra lỗi "Permission denied")
.vs/

# Thư mục chứa các gói NuGet (nếu có)
packages/

# Thư mục và tệp sinh ra trong quá trình Build
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.suo
*.user