<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row p-3 header">
                <div class="col-1">
                    <a href="#"><img class="w-100 my-1" src="~/Content/Images/logo.jpg" /></a>
                </div>
                <div class="col-10" style="padding-left: 60px; padding-right: 40px;">
                    <ul class="nav navbar nav-lv1">
                        <li class="nav-item">
                            <a class="home-text text-decoration-none text-white" href="/Home/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white " href="#">Giày bóng đá <i class="angle-down fa-solid fa-angle-down text-white"></i></a>
                            <ul class="nav navbar nav-lv2">
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="/Home/DanhMucSanPham">Tất cả sản phẩm</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Giày bóng đá sân cỏ nhân tạo</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Giày bóng đá sân cỏ tự nhiên</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Giày bóng đá giá rẻ</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Giày bóng đá trẻ em</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Giày bóng đá nữ</a>
                                </li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white" href="#">Thương hiệu <i class="angle-down fa-solid fa-angle-down text-white"></i></a>
                            <ul class="nav navbar nav-lv2">
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Nike</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Adidas</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Mizuno</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Puma</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Zocker</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Kamito</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Wika</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">GKVN</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white" href="#">Phụ kiện <i class="angle-down fa-solid fa-angle-down text-white"></i></a>
                            <ul class="nav navbar nav-lv2">
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Găng tay thủ môn</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Quần áo đá bóng</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Quả bóng đá</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Balo & Túi sách</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Tất bóng đá</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Bọc ống đồng</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Phụ kiện khác</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white" href="#">Dịch vụ <i class="angle-down fa-solid fa-angle-down text-white"></i></a>
                            <ul class="nav navbar nav-lv2">
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">In ấn quần áo đội</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Thanh lý & Ký gửi</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Boot ID giày bóng đá</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Sửa chữa giày bóng đá</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white fl-sale" href="#">Flash sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-decoration-none text-white" href="#">Hướng dẫn <i class="angle-down fa-solid fa-angle-down text-white"></i></a>
                            <ul class="nav navbar nav-lv2">
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Hướng dẫn mua hàng</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Chính sách đổi trả</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Chính sách bảo hành</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Chính sách bảo mật thông tin</a>
                                </li>
                                <li class="nav-item nav-link p-2 px-3">
                                    <a class="text-decoration-none text-white" href="#">Hướng dẫn chọn size</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-1">
                    <div class="d-flex justify-content-between gap-2">
                        <a class="w-50" href="/Home/Index">
                            <i class="header-icon fa-solid fa-magnifying-glass text-white"></i>
                        </a>
                        <a class="w-50" href="/Home/Index">
                            <i class="header-icon fa-solid fa-cart-shopping text-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer>
        <!-- Footer Top -->
        <div class="footer-top container">
            <div class="row">
                <!-- Cột 1 -->
                <div class="col-md-4 footer-about">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="logo" width="50" class="mb-3">
                    <h5>soccerstore.vn</h5>
                    <p>Để lại email nhận voucher và những chương trình sales mới nhất và sớm nhất.</p>
                    <form>
                        <input class="" type="email" placeholder=" email@example.com" required>
                        <input class="btn btn-sb w-25" type="submit" name="btnSubmitEmail" value="✈" />
                    </form>
                </div>

                <!-- Cột 2 -->
                <div class="col-md-5 footer-store">
                    <h5 class="mb-3 text-white">Hệ thống cửa hàng</h5>
                    <p><strong>Store #1 – Đống Đa</strong><br>Số 2 ngõ 121 Thái Hà, Đống Đa, Hà Nội</p>
                    <p><strong>Store #2 – Hà Đông</strong><br>Số 14-LK25 (đối diện 86) Lê Lai, Hà Đông, Hà Nội</p>
                    <p><strong>Store #3 – Cầu Giấy</strong><br>Số 22 ngõ 30 Trần Quý Kiên, Cầu Giấy, HN</p>
                    <p><strong>Store #4 – Hai Bà Trưng</strong><br>Số 189 Chùa Quỳnh, Hai Bà Trưng, Hà Nội</p>
                    <p><strong>Store #5 – Hải Phòng</strong><br>Số 748 Ngô Gia Tự, Hải An, Hải Phòng – <strong>Hotline: 0799.622.999</strong></p>
                </div>

                <!-- Cột 3 -->
                <div class="col-md-3 footer-links">
                    <h5 class="mb-3 text-white">Link Hướng Dẫn</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách bảo mật thông tin</a></li>
                        <li><a href="#">Hướng dẫn chọn size</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            (c) 2013–2025 – Bản quyền thuộc <a href="#">Soccerstore.vn</a>
        </div>

        <!-- Social Fixed -->
        @*<div class="social-fixed">
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Zalo_logo.png" alt="Zalo"></a>
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Facebook_Messenger_4_Logo.svg" alt="Messenger"></a>
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Phone_icon.png" alt="Call"></a>
            <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Plus_symbol.svg" alt="More"></a>
        </div>*@

    </footer>
</body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #1a1a1a;
        font-size: 20px;
    }
    header {
        background: #1a1a1a;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        left: 0;
    }
    .nav-lv1{
        position: relative;
    }
    .nav-lv2 {
        position: absolute;
        display: none;
        background-color: #000;
        border: 1px solid #808080;
    }
    .nav-lv2 li{
        width: 360px;   
    }
    .nav-lv1 li:hover .angle-down,
    .nav-lv1 li:hover > a {
        color: aqua !important;
    }
    .nav-lv1 li:hover .home-text,
    .nav-lv1 li:hover .fl-sale {
        color: red !important;
    }
    .nav-lv1 li:hover .nav-lv2 {
        display: block;
        z-index: 1;
    }
    .nav-lv2 li:hover{
        border-left: 1px solid aqua;
    }
    .header-icon,
    .service-icon {
        margin: 16px;
        margin-left: 32px;
        color: #fff;
    }
    .header-icon:hover,
    .service-icon:hover {
        color: #808080 !important;
    }
    /* ========== MAIN LAYOUT ========== */
    main {
        margin-top: 92px;
        min-height: 800px;
    }
    .content{
        
    }


    /* Banner cards */
    .banner-card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .banner-card:hover {
        transform: translateY(-5px);
    }

    .banner-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-shop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        color: #fff;
        border: none;
        font-weight: 600;
        padding: 20px 48px;
        border-radius: 6px;
        transition: background 0.3s;
    }

    .btn-shop:hover {
        background-color: #ffc107;
        color: #000;
    }

    /* Service icons row */
    .service-box {
        background-color: #1a1a1a;
        border-radius: 10px;
        padding: 20px 10px;
        margin-top: 30px;
    }

    .service-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-align: left;
        padding: 4px 0;
        border-radius: 8px;
        background: #353535;
        overflow: hidden;
    }

    .service-item:hover{
        transform: scale(1.1);
    } 
        
    .service-item p {
        margin: 0;
        font-size: 0.9rem;
        color: #ddd;
        padding: 4px;
    }

    .service-item span {
        color: #ff5722;
        font-weight: 500;
    }

    .card-featured {
        background: #202020;
    }
    .card-body {
        background: #1a1a1a;
        color: #fff;
    }
    .card-featured img {
        padding-top: 16px;
    }
    .card:hover{
        transform: translateY(-5px);
    }

















    /* ======== FOOTER LAYOUT ======== */
    /*body {
        background-color: #111;
        color: #ddd;
        font-family: 'Segoe UI', sans-serif;
    }*/
    footer {
        background-color: #1a1a1a;
        color: #eee;
        position: relative;
        overflow: hidden;
    }

    /* --- footer top --- */
    .footer-top {
        padding: 50px 0 30px;
        border-bottom: 1px solid #333;
    }

    .footer-about p {
        margin-bottom: 20px;
        font-size: 0.95rem;
        color: #bbb;
    }

    .footer-about form {
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        height: 44px;
        max-width: 380px;
    }

    .footer-about input[type="email"] {
        flex: 1;
        border: 1px solid #333;
        background: transparent;
        color: #fff;
        padding: 10px;
        outline: none;
    }
    .footer-about .btn-sb {
        background: #d6b400;
    }

    .btn-sb:hover{
        background: #53959d;
    }

    .footer-store p,
    .footer-links a {
        color: #bbb;
        font-size: 0.95rem;
        text-decoration: none;
    }

    .footer-store p strong {
        color: #fff;
    }

    .footer-links a:hover {
        /*color: #d6b400;*/
        color: aqua !important;
    }

    /* --- footer bottom --- */
    .footer-bottom {
        text-align: center;
        padding: 15px 0;
        font-size: 0.9rem;
        background-color: #111;
        color: #999;
    }

    .footer-bottom a {
        color: #00aaff;
        text-decoration: none;
    }

    /* --- social fixed icons --- */
    /*.social-fixed {
        position: fixed;
        right: 15px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0d0d0d;
        border-radius: 50px;
        padding: 10px 0;
        gap: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .social-fixed a {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1f1f1f;
        transition: transform 0.2s, background 0.2s;
    }

    .social-fixed a:hover {
            transform: scale(1.1);
            background: #333;
        }

    .social-fixed img {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }*/

    
</style>